/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
HTML content. To learn how to do something, just try searching Google for questions like
"how to change link color." */
body {
  margin: 0;
  font-family: 'JetBrains Mono', Helvetica, Arial, sans-serif;
  background-color: #062c33;
  color: #7ec331;
}
input[type=text] {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #7ec331;
  border-radius: 40px;
  font-size: 16px;
  color: #7ec331;
  background-color: #0b373f;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
#bigoltext {
  font-size: 96px;
}
a {
  color: #46c5e3;
}
hr {
  color: #7ec331;
}
div.fbox {
  display: flex;
  justify-content: space-around;
}
div.fbox a {
  width: 100%;
}
div.fbox span {
  width: 50%;
}
